*{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-decoration: none;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    text-decoration: none;
}

.navbar{
    /*position: fixed;*/
    background-color: #81D8D0;
    color: #f7f7f7;
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
  }

.navbar ul{
  margin-top: 20px;
}

.navbar li{
  display: inline-block;;
  text-align: center;
}

.navbar a{
  color: #ffffff;
  padding: 10px;
}

.navbar a:hover{
  font-weight: bold;
  color: #F8F503;
}

.navbar a.current{
  color: #F8F503;
  font-weight: bold;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container img{
  width: 100%;
  height: auto;
}

.section{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 8px 8px 8px;
    text-align: center;
}

.section h1{
  font-size: 40px;
}

#section5 img{
  width:  50%;
  height: 70%;
}
#section5 img:hover{
  box-shadow: 0 0 10px #81D8D0;

}
#section6 p{
  margin: 10px 0;
}

#section2, #section4, #section6{
  background-color: #2B313D;
  color: #D5CEC1;
}

.vow1{
  margin-top: 20px;
  text-align: center;
}


.vow1 p, #section3 p{
  margin: 0 150px;
}

.vow2{
  margin-top: 100px;
}

/*.see_previous, .see_next{
  height: 100%;
  width: 50px;
  position: absolute;
  left: 0;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.see_next{
  right: 0;
  left: auto;
}

.arrow_next{
  transform: rotate(180deg);
}

.arrow_previous, .arrow_next{
  width: 100%;
  align-self: center;
}

.see_previous:hover, .see_next:hover{
  background-color: rgba(0,0,0,0.5);
}*/

/*.photoGallery{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/

#section1,#section2,#section3,#section4,#section5,#section6{
  overflow: auto;
}

.photoGallery{
  margin: 10% 10%;
}

.photoGallery img{
 position: relative;
 float: left;
 width:  200px;
 height: 200px;
 max-height: 100%;
 background-position: 50% 50%;
 background-repeat:   no-repeat;
 background-size:     cover;
 text-align: center;
 transition: all 0.2s ease-in-out;
}

.photoGallery a{
  width: 25%;
  /*padding: 5px 5px;*/
  float: left;
  padding-right: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.photoGallery:hover img{
  opacity: 0.6;
  transition: scale(0.92);
}

.photoGallery img:hover{
  opacity: 1;
  transform: scale(1) rotate(2deg);
  box-shadow: 0 0 10px #81D8D0;
}

.musicPlayer{
  text-align: center;
  height: 5%;
  background-color: #2B313D;
}

.musicPlayer audio{
  margin-top: 5px;
}
.footer{
  text-align: center;
  background-color: #81D8D0;
  color: #f7f7f7;
}

.foooter p{
  margin-top: 10px;
}

@media(max-width:768px){
  .photoGallery img,
  .photoGallery a{
    float: none;
    width: 100%;
    text-align: center;
  }

  #section1,#section2,#section3,#section4,#section5,#section6{
    overflow:auto;;
  }

  *{
    font-size: 20px;
  }

  .container{
    width: 100%;
    margin: auto;
  }

  .navbar{
    height: 20%;
    width: 100%;
  }

  .navbar li{
    text-align: center;
  }

  .navbar a{

  }

  .vow1 p, #section3 p{
    margin: 0;
    width: 100%;
  }

  .vow2{
    margin-top: 50px;
    width: 100%;
  }

  #section5 img{
    width: 100%;
    height: auto;
  }

  .photoGallery img{
    padding: 5px 0;
    width: 100%;
  }

  .footer p{
    margin-top: 20px;
  }
}
