*{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-decoration: none;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    text-decoration: none;
}

nav a.current{
  color: #F8F503;
  font-weight: bold;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.section{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 8px 8px 8px;
    text-align: center;
}

nav{
    position: fixed;
    height: 80px;
    background-color: #81D8D0;
    color: #f7f7f7;
    width: 100%;
    line-height: 80px;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

nav a:hover{
  font-weight: bold;
  color: #F8F503;
}

.section h1{
  font-size: 40px;
}

#section1 img{
  width: 100vw;
  height: 100vh;
}
#section5 img{
  width:  50%;
  height: 65%;
}

#section6 p{
  margin: 10px 0;
}

#section2, #section4, #section6{
  background-color: #2B313D;
  color: #D5CEC1;
}

.vow1{
  margin-top: 20px;
  text-align: center;
}


.vow1 p, #section3 p{
  margin: 0 150px;
}

.vow2{
  margin-top: 100px;
}

.see_previous, .see_next{
  height: 100%;
  width: 50px;
  position: absolute;
  left: 0;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.see_next{
  right: 0;
  left: auto;
}

.arrow_next{
  transform: rotate(180deg);
}

.arrow_previous, .arrow_next{
  width: 100%;
  align-self: center;
}

.see_previous:hover, .see_next:hover{
  background-color: rgba(0,0,0,0.5);
}

/*.photoGallery{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/
#section1,#section2,#section3,#section4,#section5,#section6{
  overflow: scroll;
}

.photoGallery{
  margin: 10% 10%;
}

.photoGallery img{
 position: relative;
 float: left;
 width:  200px;
 height: 200px;
 max-height: 100%;
 background-position: 50% 50%;
 background-repeat:   no-repeat;
 background-size:     cover;
 text-align: center;
 transition: all 0.2s ease-in-out;
}

.photoGallery a{
  width: 25%;
  /*padding: 5px 5px;*/
  float: left;
  padding-right: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.photoGallery:hover img{
  opacity: 0.6;
  transition: scale(0.92);
}

.photoGallery img:hover{
  opacity: 1;
  transform: scale(1) rotate(2deg);
  box-shadow: 0 0 10px #81D8D0;
}

.footer{
  text-align: center;
  background-color: #81D8D0;
  color: #f7f7f7;
  height: 50px;
}

.foooter p{
  margin-top: 10px;
}

@media(max-width:768px)
