*{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
    font-size: 30px;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
}

nav a.current{
  color: #F8F503;
  font-weight: bold;
}

.wrapper{
    height: 100%;
    width: 100%;
}

.section{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 85px 8px 8px 8px;
    text-align: center;
}

nav{
    position: fixed;
    height: 80px;
    background-color: #81D8D0;
    color: #f7f7f7;
    width: 100%;
    line-height: 80px;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    margin-right: 50px;
}

nav a:hover{
  font-weight: bold;
  color: #F8F503;
}

.section h1{
  font-size: 40px;
}

#section2 p{
  margin: 0 150px;
}

#section5 img{
  width:  500px;
  height: 500px;
}

#section6 p{
  margin: 20px 0;
}

#section2, #section4, #section6{
  background-color: #2B313D;
  color: #D5CEC1;
}

.vow1{
  margin-top: 20px;
  text-align: center;
}

.vow2{
  margin-top: 400px;
}

.footer{
  text-align: center;
  background-color: #81D8D0;
  color: #f7f7f7;
  height: 50px;
}

.foooter p{
  margin-top: 10px;
}
